<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #aeb0c8;
            
        }
        ul li{
            list-style: none;

        }
       
        form input{ 
            display: block;
            padding: 1em;
            margin-top: 10px;
            border-radius: 0.5em;
            
        }

        form button{
            padding: 1em;
            border-radius: 0.5em;
        }
    </style>
</head>
<body>
    <div>
        <form  method="POST">
            {% csrf_token %}
            {{form.as_p}}
            
            <button type="submit">senha  confirm </button>
            </form>
    </div>
</body>
</html>