{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Olá,</p>
    <p>Você solicitou uma redefinição de senha. Siga o link abaixo para redefinir sua senha:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Redefinir Senha</a>
    <p>Se você não solicitou uma redefinição de senha, ignore este e-mail.</p>
</body>
</html>
{% endautoescape %}
